body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 6em;
    text-align: center;
}
button {
    background: blue;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 2em;
    margin-left: 12px;
    border: 0;
}

button:nth-of-type(1) {
    background: green;
}
button:nth-of-type(3) {
    background: red;
}